.container-general-infos {
  h1 {
    font-size: 30px;
    color: $my-gray;
  }
  h2 {
    font-size: 15px;
    color: $my-green;
  }
  h3 {
    font-size: 15px;
    color: $my-green;
    text-align: left;
    font-weight: bold;
  }
  h4 {
    font-size: 20px;
    color: #EC5123;
    i {
      font-size: 20px;
    }
  }
  p {
    font-family: "Montserrat-light", sans-serif;
    font-size: 12px;
    text-align: justify;
    i {
      font-size: 15px;
      color: $my-green;
    }
  }
  i {
    font-size: 9px;
  }
}

.box-infos {
  background: white;
  padding: 1px 20px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  text-align: center;
}

.form-search-coworking-show {
  .btn-devis {
  background-color: #29AB87;
  border-color: #29AB87;
  font-size: 12px;
  width: auto;
  padding: 8px 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: "Montserrat", "sans-serif";
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
}

.highlight-coworking-show {
  -webkit-box-shadow: inset 0px -10px #29AB87;
  box-shadow: inset 0px -10px #29AB87;
  font-weight: bold;
  text-align: left;
}

.equip-service-list {
    font-size: 12px;
    text-align: left;
}
