.container-general-infos {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  h1 {
    font-size: 30px;
    color: $my-gray;
  }
  h2 {
    font-size: 30px;
    color: $my-gray;
  }
  h3 {
    font-size: 15px;
    color: $my-green;
    text-align: left;
    font-weight: bold;
  }
  p {
    font-family: "Montserrat-light", sans-serif;
    font-size: 17px;
    i {
      font-size: 15px;
      color: $my-green;
    }
  }
  i {
    font-size: 9px;
  }
}

.special-offer {
  padding: 0px 15px 0px 15px;
  text-transform: bold;
  background-color: #F48024;
  border-radius: 10px;
  text-align: center;
  margin-top: 15px;
  h4 {
    color: white;
    padding-top: 5px;
  }
    i {
      font-size: 20px;
  }
  p {
    color: white;
    font-size: 12px;
    padding-bottom: 5px;
  }
}

.box-infos-price {
  background: white;
  padding: 20px 40px;
  margin-top: 45px;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  text-align: center;
}

.box-infos {
  border-bottom: 1px #e4e4e6 solid;
  padding: 1px 20px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 5px;
  h3 {
   font-size: 20px;
   color: $my-gray;
   text-align: left;
   font-weight: bold;
  }
  li {
    font-family: "Montserrat-light", sans-serif;
    font-size: 15px;
    justify-content: space-between;
    i {
      font-size: 18px;
      color: $my-green;
    }
  }
}

.box-infos-equipements {
  border-bottom: 1px #e4e4e6 solid;
  h3 {
   font-size: 20px;
   color: $my-green;
   text-align: left;
   font-weight: bold;
  }
  li {
    font-family: "Montserrat-light", sans-serif;
    font-size: 15px;
    list-style: none;
    text-align: left;
    i {
      font-size: 18px;
      color: $my-green;
    }
  }
}

.box-infos-contracts {
  border-bottom: 1px #e4e4e6 solid;
  h3 {
   font-size: 20px;
   color: $my-green;
   font-weight: bold;
  }
  li {
    font-family: "Montserrat-light", sans-serif;
    font-size: 15px;
    list-style: none;
    background-color: $my-green;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
  }
}

.form-search-coworking-show {
  .btn-devis {
  background-color: #29AB87;
  border-color: #29AB87;
  font-size: 12px;
  width: auto;
  padding: 15px 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Montserrat", "sans-serif";
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
}

.highlight-coworking-show {
  -webkit-box-shadow: inset 0px -10px #29AB87;
  box-shadow: inset 0px -10px #29AB87;
  font-weight: bold;
  text-align: left;
}


