<div class="message <%= user_is_messages_author ? "right" : "" %>">
  <%= image_tag "http://via.placeholder.com/350x150", class: "avatar" %>
  <div class="message-content"><%= message.content %></div>
</div>
