<p>Bonjour <%= @demand.user.first_name %>,</p>

<p>Vous avez modifié votre cahier des charges. Nous espérons vous revoir bientôt</p>

<p>Rendez-vous sur notre site en suivant le lien suivant pour toutes nouvelles recherches :</p>

<%= link_to "The Real Estate Jungle", root_url %>

<p>Merci de la confiance que vous nous avez témoignée :)</p>

<p>N'hésitez à nous rendre visite ou à nous contacter si besoin.</p>

<em>Gautier Weigert</em>
<br>
<em>Tél: 06 17 98 75 96</em>
<br>
<em>Email: gautier@therealestatejungle.fr</em>
