 // main div
.cookies-eu {
  background-color: $my-gray;
  line-height: 40px;
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  text-align: center;
  border-top: none;
  .cookies-eu-button-holder {
    background-color: transparent;
    // button
    .cookies-eu-ok {
      background-color: $my-green;
  }
}
// content holder
.cookies-eu-content-holder {
  color: $my-white;
}
// button holder


}
// link
// .cookies-eu-link
