 // main div
.cookies-eu {
  background-color: transparent;
}
// content holder
.cookies-eu-content-holder {
  color: white;
}
// button holder
.cookies-eu-button-holder {
  background-color: $my-green;
}
// button
.cookies-eu-ok {
  background-color: $my-green;
}
// link
// .cookies-eu-link
