.home-container {
background: $my-white;
margin-top: 50px;
padding-bottom: 40px;
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 5px;
}

.home-background-image {
  color: $my-white;
  text-align: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
}

.title-features h2{
  font-family: $headers-font;
  font-size: 30px;
  font-weight: bold;
  color: $my-gray;
}

.offer-title {
  color: $my-gray;
}

.card {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.card h2 {
  font-family: $body-font;
  font-size: 25px;
}

.card p {
  font-family: $body-font;
  font-size: 15px;
  text-align: justify;
  letter-spacing: 1px;
}

.btn-recall {
  background-color: $my-green;
  border-color: $my-green;
  font-size: 12px;
  width: auto;
  padding: 15px 25px;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: $body-font;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  // border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-recall:hover {
  opacity: 0.8;
  background-color: $my-green;
  border-color: $my-green;
}

.form-search {
  text-align: center;
  margin-top: 50px;
}

// span for highlighting text

.highlight {
display: inline-block;
box-shadow: inset 0px -12px $my-green;
font-weight: bold;
}

// Cards CSS for type of company

/*---------- CARDS LAYOUT ----------*/

$card-background:     transparent;
$card-border-width:   0;
$card-border-color:   transparent;
$card-radius:         0;


.cards {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

  .cards_item {
    display: flex;
    .no-flexbox & { float: left; }

    margin-top: 45px;
    padding: 0 1em 2em;
    // border-radius: 5px 5px 0px 0px;

    // > 640px, 2 items/row
    @media screen and (min-width: 42em) and ( max-width: 60em ) {
      width: 50%;
      .no-flexbox &:nth-child(2n+1) { clear: both; }
    }

    // > 960px, 3 items/row
    @media screen and (min-width: 60em) {
      width: 33.3333%;
      .no-flexbox &:nth-child(3n+1) { clear: both; }
    }

  }

    .card-company-type {
      display: flex;
      flex-direction: column;

      background-color: $card-background;
      border: $card-border-width solid $card-border-color;
      border-radius: $card-radius;
    }

      .card_image {
        img {
          // width: 100%;
          // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          // border: 1px 1px 0px 0px solid rgba(0, 0, 0, 0.1);
          // border-radius: 5px 5px 0px 0px;
          // -webkit-filter: brightness(1.5) contrast(1.4) hue-rotate(450deg); /* Safari 6.0 - 9.0 */
          // filter: brightness(1.5) contrast(1.4) hue-rotate(450deg);
        }
      }

      .card_content {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        border: 0px 1px 1px 1px solid rgba(0, 0, 0, 0.1);
        margin-top: -60px;
        padding: 1.5em;
        border-radius: 0px 0px 5px 5px;

        h3 {
          font-family: $body-font;
          color: $my-white;

        }

        p {
          flex: 1 0 auto;
          font-family: $body-font;
          font-size: 15px;
          color: $my-white;
          text-align: justify;
          letter-spacing: 1px;
        }

      }
