.home-container {
background: white;
margin-top: 50px;
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 5px;
}

.title-features h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #65697A;
}

.card {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.card h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.card p {
  font-family: 'Montserrat_light', sans-serif;
  font-size: 15px;
}

.btn-recall {
  background-color: #00C29A;
  border-color: #00C29A;
  font-size: 12px;
  width: auto;
  padding: 15px 25px;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: 'Montserrat_light', sans-serif;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  // border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-recall:hover {
  opacity: 0.8;
  background-color: #00C29A;
  border-color: #00C29A;
}

.form-search {
  text-align: center;
  margin-top: 50px;
}

// span for highlighting text

.highlight {
display: inline-block;
box-shadow: inset 0px -12px #00C29A;
font-weight: bold;
}

// Cards CSS for type of company

/*---------- CARDS LAYOUT ----------*/

$card-background:     #fff;
$card-border-width:   0;
$card-border-color:   #eee;
$card-radius:         0;


.cards {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

  .cards_item {
    display: flex;
    .no-flexbox & { float: left; }

    margin-top: 0;
    padding: 0 1em 2em;

    // > 640px, 2 items/row
    @media screen and (min-width: 42em) and ( max-width: 60em ) {
      width: 50%;
      .no-flexbox &:nth-child(2n+1) { clear: both; }
    }

    // > 960px, 3 items/row
    @media screen and (min-width: 60em) {
      width: 33.3333%;
      .no-flexbox &:nth-child(3n+1) { clear: both; }
    }

  }

    .card-company-type {
      display: flex;
      flex-direction: column;

      background-color: $card-background;
      border: $card-border-width solid $card-border-color;
      border-radius: $card-radius;
    }

      .card_image {
        img {
          width: 100%;
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          border: 1px 1px 0px 0px solid rgba(0, 0, 0, 0.1);
          border-radius: 5px 5px 0px 0px;
          // background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.18) 0%, rgba(12, 15, 15, 0.5) 80%)
          // border-top-left-radius: ( $card-radius - $card-border-width );
          // border-top-right-radius: ( $card-radius - $card-border-width );
        }
      }

      .card_content {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: -60px;
        padding: 1.5em;
        border-radius: 0px 0px 5px 5px;

        h2 {
          font-family: 'Montserrat', sans-serif;
        }

        p {
          flex: 1 0 auto;
          font-family: 'Montserrat_light', sans-serif;
          font-size: 15px;
        }

      }
