.wrapper-pages {
  min-height: 100vh;
  // position:relative;
}

.content-wrapper {
  min-height: calc(100vh - 60px - 80px)
}

body, html {
 background-color: $my-white;
 height:100%;
 margin:0;
 padding:0;
}

.row {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}


