.wrapper-pages {
  height: 100vh;
}

body {
 background-color: $my-white;
}

.row {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}
