.banner {
  color: $my-white;
  text-align: center;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
}

// .banner p {
//   font-size: 20px;
//   font-weight: lighter;
//   color: $my-white;
//   margin-bottom: 30px;
//   font-family: $body-font;
//   letter-spacing: 1px;
// }

.banner-content {
  label {
    color: black;
  }
}

.btn {
  background-color: $my-green;
  border-color: $my-green;
  font-size: 12px;
  width: auto;
  padding: 12px 25px;
  font-family: $body-font;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn:hover {
  opacity: 0.8;
  background-color: $my-green;
  border-color: $my-green;
}

.brand-banner h1 {
  position: relative;
  font-family: 'Bungee Shade', cursive;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom:0px;
}

.brand-banner {
  margin-bottom: 40px;
}

.simple-tagline {
  margin: 0px 0px 40px 0px;
  p {
  font-size: 25px;
  font-family: $body-font;
  font-weight: 100;
  }
}

.color-animation {
  color: $my-green;
  font-weight: bold;
}
.content {
  span:before {
    content: 'STARTUPS';
    animation: animate infinite 12s;
  }
}

@keyframes animate {
  0%
  {
    content: 'STARTUPS'
  }
  100%
  {
    content: 'GRANDS GROUPES'
  }
}

.content {
  em:before {
    content: "BUREAUX";
    animation: change infinite 10s;
  }
 }
@keyframes change {
  0%
  {
    content: 'BUREAUX'
  }
  100%
  {
    content: 'COWORKING'
  }
}

.form-search-banner {
  text-align: center;
}



// @media(max-width: 350px) {
//   .search-query {
//      color: $my-gray;
//      font-size: 10px;
//      padding-left: 5px;
//      border: 1px gray solid;
//      border-radius: 5px 0 0 5px;
//      height: 45px;
//      width: 200px;
//    }
//    .btn-search {
//     background-color: #29AB87;
//     border-color: #29AB87;
//     font-size: 10px;
//     width: auto;
//     margin-left: -6px;
//     height: 45px;
//     padding: 0px 10px;
//     border: 1px gray solid;
//     border-radius: 0 5px 5px 0;
//     font-family: "Montserrat", "sans-serif";
//     -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
//     box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
//     border: 1px solid rgba(0, 0, 0, 0.1);
//   }
// }

.search-query {
   color: $my-gray;
   font-size: 12px;
   padding-left: 5px;
   border: 1px gray solid;
   border-radius: 5px 0 0 5px;
   height: 45px;
   width: 220px;
 }

 .btn-search {
  background-color: $my-green;
  border-color: $my-green;
  font-size: 12px;
  width: auto;
  margin-left: -6px;
  height: 45px;
  padding: 0px 10px;
  border: 1px gray solid;
  // border-radius: 0 5px 5px 0;
  font-family: $body-font;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
