<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="tabs">
        <a class="tab" data-target="#briefs">
          <h3>Demandes</h3>
        </a>
        <a class="tab" data-target="#Propositions">
          <h3>Propositions</h3>
        </a>
        <a class="tab active" data-target="#messages">
          <h3>Messages</h3>
        </a>
        <a class="tab" data-target="#demands">
          <h3>Critères</h3>
        </a>
      </div>

      <div class="tab-content hidden" id="briefs">
        <%= render "my_briefs" %>
      </div>
      <div class="tab-content" id="Propositions">
        <%= render "my_propositions" %>
      </div>
      <div class="tab-content" id="messages">
        <%= render "my_messages" %>
      </div>
      <div class="tab-content hidden" id="demands">
        <%= render "my_demands" %>
      </div>
    </div>
  </div>
</div>


