<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="tabs">
        <a class="tab active" data-target="#briefs">
          <h3><span><i class="fa fa-paper-plane" aria-hidden="true"></i></span> Demandes</h3>
        </a>
        <a class="tab" data-target="#Propositions">
          <h3><span><i class="fa fa-handshake-o" aria-hidden="true"></i></span> Propositions</h3>
        </a>
        <a class="tab" data-target="#chat_rooms">
          <h3><span><i class="fa fa-comments" aria-hidden="true"></i></span> Messages</h3>
        </a>
        <a class="tab" data-target="#demands">
          <h3><span><i class="fa fa-folder-open" aria-hidden="true"></i></span> Critères</h3>
        </a>
      </div>

      <div class="tab-content" id="briefs">
        <%= render "briefs/my_briefs" %>
      </div>
      <div class="tab-content hidden" id="Propositions">
        <%= render "my_propositions" %>
      </div>
      <div class="tab-content hidden" id="chat_rooms">
        <%= render "my_chat_rooms" %>
      </div>
      <%# unless current_user.owner %>
      <div class="tab-content hidden" id="demands">
        <%= render "demands/my_demands" %>
      </div>
      <%# end %>
    </div>
  </div>
</div>


