<div id="content-wrapper">
<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="tabs">
        <a class="tab active" data-target="#briefs">
          <h3><span><i class="fa fa-paper-plane" aria-hidden="true"></i></span> Demandes</h3>
        </a>
        <a class="tab" data-target="#Propositions">
          <h3><span><i class="fa fa-handshake-o" aria-hidden="true"></i></span> Propositions</h3>
        </a>
        <% unless current_user.owner %>
        <a class="tab" data-target="#demands">
          <h3><span><i class="fa fa-folder-open" aria-hidden="true"></i></span> Critères</h3>
        </a>
        <% end %>
        <% if current_user.owner %>
        <a class="tab" data-target="#offers">
          <h3><span><i class="fa fa-folder-open" aria-hidden="true"></i></span> Annonces</h3>
        </a>
        <% end %>
      </div>

      <div class="tab-content" id="briefs">
        <%= render "briefs/my_briefs" %>
      </div>
      <div class="tab-content hidden" id="Propositions">
        <%= render "propositions/my_propositions" %>
      </div>
      <div class="tab-content hidden" id="demands">
        <%= render "demands/my_demands" %>
      </div>
      <div class="tab-content hidden" id="offers">
        <%= render "coworkings/coworkings_list_dashboard" %>
      </div>
    </div>
  </div>
</div>
</div>


