<!-- <div class="wrapper-pages"> -->
<div class="concept-background-image" style="background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.18) 0%, rgba(12, 15, 15, 0.5) 0%), url('<%= image_path('parisjungle2.jpg')%>');">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <div class="brand-concept">
          <h1>Le <br>Concept</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="concept-content">
        <h2>Pourquoi créer The Real Estate Jungle ?</h2>
        <p>Nous avons décidé de lancer The Real Estate Jungle pour 3 raisons :
          <br>
          <br>
          (1)Conseiller les startups et les grands groupes dans le choix de leurs espaces flexibles de travail.
          <br>
          (2)Digitaliser l’approche du marché de l’immobilier d’entreprises avec un outil permettant de comparer les différentes alternatives (Coworking, bureaux classiques, sous-location, etc.).
          <br>
          (3)Permettre aux utilisateurs qui recherchent leurs futurs bureaux de bénéficier d’un accompagnement sur mesure. En effet la démarche se fait en ligne et est ensuite prise en main par des consultants ayant une grande expérience de l’immobilier d’entreprise et des nouveaux modes de travail comme le Coworking.
          <br>
          <br>
          Le paysage de l’immobilier de bureaux est en mutation, les travailleurs, qu’ils soient au sein d’une startup, collaborateurs d’une grande entreprise ou encore indépendants, poussent de plus en plus les professionnels de l’immobilier à créer des espaces adaptés avec des engagements flexibles.
          Ces nouveaux codes nécessitent une compréhension claire des différentes alternatives quant à la prise à bail de locaux ou la signature d'un contrat de prestations de services. En effet l’immobilier est l’un des premiers coûts d’une entreprise, est stratégique pour le confort et la productivité des collaborateurs et peut être essentiel concernant le développement des affaires.
          <br>
          <br>
          Aujourd’hui il n’existe pas de cabinet de conseil ayant la capacité et la volonté d’accompagner les startups et les grands groupes dans la recherche de la solution immobilière la plus adaptée à leurs besoins.</p>
          <h2>Quel est le concept de The Real Estate Jungle ?</h2>
          <p>Toutes ces raisons nous ont poussé à développer The Real Estate Jungle afin de proposer un conseil adapté aux startups et grands groupes recherchant, pour l’un des locaux pour la première fois ou en raison d’une forte croissance par exemple, pour l’autre recherchant des espaces flexibles bénéficiant des nouveaux codes de l’immobilier d’entreprise et leur permettant de gérer au mieux les fluctuations d'activité.
            <br>
            <br>
            L’approche de The Real Estate Jungle est essentiellement tournée vers l’analyse de scénarios d'utilisation d'espaces de travail flexibles :
            <br>
            <br>
            - Propositions détaillés et personnalisées selon les critères de l'entreprise
            <br>
            - Benchmark des propositions, l'entreprise est en mesure de comparer les coûts associés aux services proposés afin de bien comprendre ce qui est compris ou non
            <br>
            - L'approche consulting permet de mettre en évidence les différences de coûts entre un espace de travail flexible et une implantation classique
            <br>
            - Nous proposons un accompagnement pour négocier au mieux les termes des engagements que les startups ou les grands groupes seront amenés à prendre
            <br>
            <br>
            Cette approche permet d’avoir une vision claire des futures dépenses en immobilier, permettant aux chefs d’entreprises de prendre les bonnes décisions. Elle permet aussi de négocier au plus juste avec les propriétaires immobiliers ou les espaces de Coworking. </p>
            <h2>Pourquoi le nom The Real Estate Jungle ?</h2>
            <p>Par métaphore la jungle représente le marché de l’immobilier d’entreprise. Il est rare de s’aventurer dans une jungle tropicale sans un guide. The Real Estate Jungle propose d’être ce guide dans la jungle urbaine. En effet l’immobilier d’entreprise est luxuriant et possède une multitude de types de bureaux et d’espaces de Coworking. En Sanskrit Jangala (origine du mot jungle) désigne des espaces non mis en valeur, nous souhaitons pouvoir mettre en valeur les espaces de travail en les sélectionnant de manière pragmatique et réfléchie tout en négociant les meilleures conditions. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <div class="contact-content">
          <div>
            <div class="text-center">
              <%= image_tag "gautier.png", class: "contact-picture" %>
              <h1>Gautier Weigert</h1>
              <h2>Founder et CEO de The Real Estate Jungle</h2>
              <p>Après avoir passé près de 6 ans dans le conseil en immobilier d'entreprise, j'ai décidé de développer The Real Estate Jungle pour adapter le conseil/brokerage immobilier de bureaux aux nouveaux modes de travail. Ce marché connaît une profonde mutation, d'une part car les modes de travail des utilisateurs (grandes entreprises et startups) changent, d'autre part car la commercialisation des biens immobiliers se digitalise.
              <br>
              <br>
              Avec The Real Estate Jungle, nous souhaitons être le partenaire privilégié des startups et des grands groupes afin de leur faire bénéficier d'un accompagnement d'expert sur le marché de l'immobilier "flexible". Afin d'apporter un conseil objectif et pertinent, il est important de connaître les acteurs du marché, qu'ils soient utilisateurs, propriétaires ou encore prestataires de services (Coworking). C'est dans cet esprit de guide que The Real Estate Jungle intervient auprès de ses clients, de la phase amont de l'analyse des besoins à la finalisation des négociations.
              <br>
              <br>
              En nous faisant confiance, vous bénéficierez :
              <br> - de notre expérience dans la gestion de projets immobiliers acquise sur le terrain à rechercher, analyser et négocier pour le compte de différents types de clients sur diverses actifs.
              <br> - de notre expertise financière pour la construction des analyses économiques de votre projet afin de réaliser des benchmarks des différentes solutions.
              <br> - de nos conseils commerciaux et d'un accompagnement sur les accords juridiques que vous pourrez signer.
              <br> - de nos recommandations afin de faire adhérer vos collaborateurs à un projet potentiellement novateur pour votre entreprise.
              <br>
              <br>
              N'hésitez pas à venir consulter mon profil Linkedin pour décourvir plus en détail mon parcours.
              <br>
              A bientôt dans cette fascinante jungle immobilière :)
              </p>
              <br>
              <a target="_blank" href="https://www.linkedin.com/in/gautierweigert/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
              <%= link_to new_info_path, method: :get, class: 'form-search' do %>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <div class="flexbox">
                  <%= submit_tag "Contactez-nous", class: "btn btn-primary btn-concept-link", style:"text-decoration:none" %>
                  </div>
                  <% end %>
                </div>
              </div>
              <br>


<!--   <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <div class="btn-concept">
          <%#= link_to new_demand_path, method: :get, class: 'form-search' do %>
          <div class="flexbox">
            <%#= submit_tag "TROUVEZ LES BUREAUX DE MES RÊVES", class: "btn btn-primary btn-banner", style:"text-decoration:none" %>
          </div>
          <%# end %>
        </div>
      </div>
    </div>
  </div> -->
    <!-- </div> -->
