<div class="container-coworking-index">
  <div class="row">
    <div class="col-xs-12 col-md-7">
    <div id="" style="overflow:scroll; height:100vh;">
        <% @coworkings.each do |coworking| %>
        <div class="col-xs-12 col-md-6">
          <%= render 'card', coworking: coworking, image_url: cl_image_path(coworking.photos.first.path, aspect_ratio: 4, crop: :crop)  %>
        </div>
        <% end %>
    </div>
  </div>

    <div class="col-xs-12 col-md-5">
      <div id="map"></div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>
