<div id="content-wrapper">
<div class="container">
  <div class="row">
    <% unless current_user.owner %>
    <!-- condition owner true or false  -->
    <!-- début de l'itération user n'est pas owner  -->
    <% if current_user.briefs.blank? %>
    <%= render 'briefs/no_brief' %>
    <% else %>
    <%= render 'briefs/brief_if_user_is_not_owner' %>
    <% end %>
    <!-- fin du contenu si user n'est pas owner -->
    <% else %>
    <!-- début de l'itération user est owner  -->
    <%= render 'briefs/brief_if_user_is_owner' %>
    <!-- fin du contenu si user est owner -->
    <!-- fin de la condition owner true or false  -->
    <% end %>
  </div>
</div>
</div>


