<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <div class="no-demands-content">
          <h1>Vous n'avez pas encore fait de demande.</h1>
          <h2>Démarrez une nouvelle recherche en cliquant sur le lien ci-dessous :</h2>
        </div>
        <div class="btn-no-demand">
          <%= link_to root_path, method: :get, class: 'form-search' do %>
          <div class="flexbox">
            <%= submit_tag "TROUVER LE BUREAU DE MES RÊVES", class: "btn btn-primary btn-banner", style:"text-decoration:none" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
