.footer-links {
  font-family: 'Montserrat_light', sans-serif;
  font-size: 10px;
  color: white;
}
#home-footer {
  background: #373942;
  padding: 40px;
}

#home-footer a {
  font-size: 15px;
  color: white;
  padding: 5px;
}

#home-footer a:hover {
  color: #00C29A;
}

.footer-logo img{
  height: 100px;
}



