.footer-links {
  font-family: $body-font;
  font-size: 10px;
  color: $my-white;
}

ul {
list-style: none;
}

#home-footer {
  background: $my-gray;
  padding-top: 20px;
  p {
    font-size: 10px;
    color: $my-white;
  }
}

#home-footer a {
  font-size: 15px;
  color: $my-white;
}

#home-footer a:hover {
  color: $my-green;
}

.footer-logo img{
  height: 100px;
}



