#home-footer {
  background: #373942;
  padding: 40px;
}

#home-footer a {
  font-size: 25px;
  color: white;
  padding: 10px;
}

#home-footer a:hover {
  color: #00C29A;
}

.footer-logo img{
  height: 100px;
}
