.footer-links {
  font-family: $body-font;
  font-size: 150px;
  color: $my-white;

}



.home-footer {
  background: $my-gray;
  height: auto;
  // remove of any trouble
  position: relative;
  z-index: -6;
  @media(max-width: $screen-sm) {
    text-align: center;
  }
  //
  p {
    font-size: 10px;
    color: $my-white;
  }
  a {
    font-size: 15px;
    color: $my-white;
  }
  ul {
  margin-top: 30px;
  list-style: none;
  }
}

.home-footer a:hover {
  color: $my-green;
}

.footer-logo img{
  height: 80px;
  margin-top: 20px;
}

// #footer {
//   background:#ffab62;
//   width:100%;
//   height:100px;
//   position:absolute;
//   bottom:0;
//   left:0;
// }

