.container .demand-container {
  padding: 2px;
  margin: 10px;
  background-color: $my-white;
}

.form-control:focus {
    border-color: $my-green;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 194, 154, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 194, 154, 0.6);
}
